@font-face {
  font-family: 'BBH Bogle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bbhbogle/v1/GFDoWA58rVDJf-fOV9ALqw.ttf) format('truetype');
}
